
{% extends 'base.html' %}

{% block content %}
{% load static %}

        <!-- Hero Start -->
        <div class="slider-area ">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap">
                                <h2>Photos</h2>
                                <nav aria-label="breadcrumb ">
                                    <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'photos' %}">Photos</a></li> 
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </>
        <!-- Hero End -->

        <br><br><br>
        <!-- youtube start -->

        
                
        
                
                  
                  
                      <div class="container">
                          
              
                          <div class="row">
                            
                            {% for photo in photos %}
              
                              <div class="col-sm-4">
                                  <div class="card bg-dark text-white">
                                      <img class="card-img" src="{{ photo.image.url }}" alt="Photo Not Found" style="height: 250px;">
                                      <div class="card-img-overlay">
                                        <h5 class="card-title" style="color: burlywood;">{{ photo.title }}</h5>
                                      </div>
                                    </div>
                                    <br>
                              </div>
                              
                              {% endfor %}
                      
                              
              
                            </div>
              
              
              
              
                      <br><br><br>
              
                      
        
        
        {% endblock %}