
{% extends 'base.html' %}

{% block content %}
{% load static %}

        <!-- Hero Start -->
        <div class="slider-area ">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap">
                                <h2>Press</h2>
                                <nav aria-label="breadcrumb ">
                                    <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'press' %}">Article</a></li> 
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->




        <!-- Code Starting Here -->

        <div class="container"><br><br><br>

            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Subject</th>
                    <th scope="col">Source</th>
                    <th scope="col">Date</th>
                    <th scope="col">Link</th>
                  </tr>
                </thead>

                <tbody>

                  <tr>
                    <th scope="row">subject</th>
                    <td>sourch</td>
                    <td>date</td>
                    <td>link</td>
                  </tr>
                  
                </tbody>
              </table>
              <br><br><br>      
        </div>

{% endblock %}