
{% extends 'base.html' %}

{% block content %}
{% load static %}

        <!-- Hero Start -->
        <div class="slider-area ">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap">
                                <h2>Test</h2>
                                <nav aria-label="breadcrumb ">
                                    <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'test' %}">test</a></li> 
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->



        <!-- Code Starting Here -->

        {% for tes_crount in object_tests %}
        <img src="{{ tes_crount.img.url }}" alt="Picture">
        <h2>{{ tes_crount.title }}</h2>
          
        {% endfor %}

        

{% endblock %}